<p id="notice"><%= notice %></p>

<h1>DINNERS</h1>

 <% @dinners.each do |dinner| %>
	<h2><%= link_to dinner.Dish, dinner %></h2>
	<p><i><%= friendly_date dinner.created_at %></i></p>
	<p>
		<%= link_to 'Edit', edit_dinner_path(dinner) %>
		<%= button_to 'Destroy', dinner, method: :delete, 
			data: {confirm: 'Are you sure?'} %>
			
		</p>
		<% end %>

<br>


<%= link_to 'New Dinner', new_dinner_path %>
<br>
<br>
<%= link_to 'Makron Homepage', makrons_path %>
<br>
<%= link_to 'Breakfast Recipes', breakfasts_path %>
<br>
<%= link_to 'Lunch Recipes', lunches_path %>
<br>
<%= link_to 'Desserts Recipes', desserts_path %>
<br>
<%= link_to 'Drink Recipes', drinks_path %>
