<p id="notice"><%= notice %></p>

<h1>*****MAKRON*****</h1>
<h2>Share your awesome Recipes using MAKRON</h2>
<h3>Make...... Any..... Killer.... Recipe... Online.. Now</h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  
</table>


<%= link_to 'Breakfast Recipes', breakfasts_path %>
<br>
<%= link_to 'Lunch Recipes', lunches_path %>
<br>
<%= link_to 'Dinner Recipes', dinners_path %>
<br>
<%= link_to 'Desserts Recipes', desserts_path %>
<br>
<%= link_to 'Drink Recipes', drinks_path %>
